<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSExtension</key>
    <dict>
        <key>NSExtensionAttributes</key>
        <dict>
            <key>QLIsDataBasedPreview</key>
            <true/>
            <key>QLSupportedContentTypes</key>
            <array>
                <string>org.w3.webvtt</string>
                <string>io.github.zirenzhou.subtitle-quick-look.lrc</string>
                <string>io.github.zirenzhou.subtitle-quick-look.srt</string>
                <string>io.github.zirenzhou.subtitle-quick-look.ass</string>
                <string>com.firecore.fileformat.srt</string>
                <string>com.firecore.fileformat.ass</string>
                <string>com.firecore.fileformat.ssa</string>
                <string>dyn.ah62d4rv4ge81g6xy</string>
                <string>public.plain-text</string>
            </array>
            <key>QLSupportsSearchableItems</key>
            <false/>
        </dict>
        <key>NSExtensionPointIdentifier</key>
        <string>com.apple.quicklook.preview</string>
        <key>NSExtensionPrincipalClass</key>
        <string>$(PRODUCT_MODULE_NAME).PreviewProvider</string>
    </dict>
</dict>
</plist>
