<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>WebVTT Subtitle</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>None</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>io.github.zirenzhou.subtitle-quick-look.webvtt</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeName</key>
            <string>LRC Lyrics</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>None</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>io.github.zirenzhou.subtitle-quick-look.lrc</string>
            </array>
        </dict>
    </array>
    <key>LSBackgroundOnly</key>
    <true/>
    <key>UTImportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.plain-text</string>
                <string>public.content</string>
            </array>
            <key>UTTypeDescription</key>
            <string>WebVTT Subtitle</string>
            <key>UTTypeIdentifier</key>
            <string>io.github.zirenzhou.subtitle-quick-look.webvtt</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>vtt</string>
                </array>
                <key>public.mime-type</key>
                <string>text/vtt</string>
            </dict>
        </dict>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.plain-text</string>
                <string>public.content</string>
            </array>
            <key>UTTypeDescription</key>
            <string>LRC Lyrics</string>
            <key>UTTypeIdentifier</key>
            <string>io.github.zirenzhou.subtitle-quick-look.lrc</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>lrc</string>
                </array>
            </dict>
        </dict>
    </array>
</dict>
</plist>
